In [2]:
import pandas as pd

# Load data
data = pd.read_csv('/content/Movie_classification - Movie_classification.csv')

In [3]:
# Cek nilai duplikat
duplicates = data.duplicated().sum()
print(f'Jumlah duplikat: {duplicates}')

Jumlah duplikat: 0

In [4]:
# Menemukan null values dan presentase
null_counts = data.isnull().sum()
null_percentage = (null_counts / len(data)) * 100
null_info = pd.DataFrame({'Null Count': null_counts, 'Null Percentage': null_percentage})
print(null_info)

                     Null Count  Null Percentage
Marketing expense             0         0.000000
Production expense            0         0.000000
Multiplex coverage            0         0.000000
Budget                        0         0.000000
Movie_length                  0         0.000000
Lead_ Actor_Rating            0         0.000000
Lead_Actress_rating           0         0.000000
Director_rating               0         0.000000
Producer_rating               0         0.000000
Critic_rating                 0         0.000000
Trailer_views                 0         0.000000
3D_available                  0         0.000000
Time_taken                   12         2.371542
Twitter_hastags               0         0.000000
Genre                         0         0.000000
Avg_age_actors                0         0.000000
Num_multiplex                 0         0.000000
Collection                    0         0.000000
Start_Tech_Oscar              0         0.000000

In [5]:
# Drop missing values berdasarkan baris
data_dropped_rows = data.dropna()

In [6]:
# Drop missing values berdasarkan kolom
data_dropped_columns = data.dropna(axis=1)

In [10]:

# Imputasi untuk kolom numerik
numerical_columns = data.select_dtypes(include=['float64', 'int64']).columns
for col in numerical_columns:
    # Imputasi dengan mean
    data[col].fillna(data[col].mean(), inplace=True)
    # Jika Anda ingin menggunakan median, uncomment baris berikut:
    # data[col].fillna(data[col].median(), inplace=True)

# Imputasi untuk kolom kategorikal
categorical_columns = data.select_dtypes(include=['object']).columns
for col in categorical_columns:
    # Imputasi dengan modus
    data[col].fillna(data[col].mode()[0], inplace=True)

# Tampilkan data setelah imputasi
print(data.head())

  Marketing expense  Production expense  Multiplex coverage      Budget  \
0           201.264               59.62               462.0  36.524.125
1           205.462               69.14               531.0  35.668.655
2           205.458               69.14               531.0  39.912.675
3           206.474               59.36               542.0    38873.89
4            21.381               59.36               542.0  39.701.585

   Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0         138.7               7.825                8.095            7.910
1         152.4               7.505                7.650            7.440
2         134.6               7.485                7.570            7.495
3         119.3               6.895                7.035            6.920
4         127.7               6.920                7.070            6.815

   Producer_rating  Critic_rating  Trailer_views 3D_available  Time_taken  \
0            7.995           7.94         527367          YES      109.60
1            7.470           7.44         494055           NO      146.64
2            7.515           7.44         547051           NO      147.88
3            7.020           8.26         516279          YES      185.36
4            7.070           8.26         531448           NO      176.48

   Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0          223.840  Thriller              23            494       48000
1          243.456     Drama              42            462       43200
2         2022.400    Comedy              38            458       69400
3          225.344     Drama              45            472       66800
4          225.792     Drama              55            395       72400

   Start_Tech_Oscar
0                 1
1                 0
2                 1
3                 1
4                 1

<ipython-input-10-b3ee9661cde9>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
<ipython-input-10-b3ee9661cde9>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

In [14]:
# Export data ke CSV
data.to_csv('cleaned_data.csv', index=False)

# Export data ke Excel
data.to_excel('cleaned_data.xlsx', index=False)